@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
  background-color: #f6f8fe;
}

.btn {
  @apply rounded-full leading-tight font-medium bg-blue-gradient hover:bg-blue-gradient-light;
}
.btn-disabled {
  @apply rounded-full leading-tight font-medium bg-blue-gradient opacity-50 pointer-events-none;
}
.btn-secondary {
  @apply rounded-full leading-tight font-medium bg-gray-200 hover:bg-gray-100 transition-all duration-200 ease-in-out;
}
.btn-secondary-disabled {
  @apply rounded-full leading-tight font-medium bg-gray-200 opacity-50 pointer-events-none;
}
.btn-outline {
  @apply rounded-full leading-tight font-medium border-blue-600 border hover:bg-blue-600 hover:text-off-black transition-all duration-200 ease-in-out cursor-pointer;
}
.btn-outline-disabled {
  @apply rounded-full leading-tight font-medium border-blue-600/50 border text-off-white/30;
}
